pyjwt
sqlparse
flask[async]
flask-cors
flask-jwt-extended

werkzeug

jinja2

aioboto3
botocore

asyncpg

dotenv

pytest

click

pytest-asyncio

hypercorn

asgiref

qrcode[pil]

testcontainers[postgres]


pandas
pandas-stubs
openpyxl

httpx

flasgger
pydantic

