<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TraceSafe</title>
    <style>
        body, html{
            width: 100%; height: 100%;
            border:0;
            overflow: hidden;
        }
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            transition-duration: 500ms;
        }
        a:hover{
            color: cornflowerblue;
        }
    </style>
</head>
<body>
    <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center">
        <a href="{{ swagger_endpoint }}" style="text-decoration:none; border: thin solid; background: lightblue; min-height: 50px; font-size: 1.9rem; padding: 5px 15px; border-radius: 5px" onclick="goto_swagger()">
            Voir le swagger
        </a>
    </div>

    <script>
        function goto_swagger(){
            location.href = "{{ swagger_endpoint }}"
        }
    </script>
</body>
</html>